<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:insert="~{base :: header(~{::title})}">
    <title>Profile</title>
</head>
<body class="wrapper">
<div class="wrapper" th:insert="~{base :: nav(pageTitle = 'User Profile')}"></div>
<table>
    <tr><th>Id</th><th>Username</th></tr>
    <tr>
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getUsername()}"></td>
    </tr>
</table>
<form method="post" action="index/session">
    <input type="text" name="username" value="<?php echo (isset($_COOKIE['name'])) ? $_COOKIE['name'] : "" ?>"/>
    <input type="submit" name="setname"
           class="button" value="Set name" />
</form>
<br>
<div th:replace="~{base :: logout}"></div>
</body>
</html>
